// Colors 
$clr-accent-1:  hsl(225, 100%, 94%);
$clr-accent-2:  hsl(245, 75%, 52%);

$clr-neutral-900: hsl(223, 47%, 23%) ;
$clr-neutral-400: hsl(224, 23%, 55%);
$clr-neutral-200: hsl(225, 100%, 98%);

// Fonts 

$fs-default: 1rem;
$ff-default: 'Red Hat Display', sans-serif;

$fw-regular: 500;
$fw-bold: 700;
$fw-extrabold: 900;


